.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.page .page-header {
    height: 80px;
}

.page .page-content {
    flex-grow: 1;
    height: 0px;
}

.page .page-footer {
    height: 50px;
}